body {
    background-color: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
    color: aliceblue;
}

header{
    padding-top: 30px;
    text-align: center;
}
.NO{
    color: red;
}
main{
    margin-top: 50px;
}

footer{
    padding: 10px 0;
    width: 100%;
    background-color: #161616;
    text-align: center;
}
#NO-name, #NO-nacimiento, #NO-carga, #NO-activo, #NO-ingreso, #NO-check{
    display: none;
}
#trabajadorserio{
    margin-top: 30px;
    display: none;
}
button{
    margin-top: 40px;
}